@model BLL.Models.Apartamento

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" style="margin-top:5px">

    <div class="panel-heading">
        Tem certeza que deseja excluir o apartamento <strong>@Model.NumApto - bloco @Model.Bloco.NumBloco</strong>?
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.Bloco.NumBloco, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DisplayFor(model => model.Bloco.NumBloco)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.Proprietario.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DisplayFor(model => model.Proprietario.Nome)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.NumApto, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DisplayFor(model => model.NumApto)
                </div>
            </div>
        </div>

        <div class="row">
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="col-md-10">
                <input type="submit" value="Sim, exclua" class="btn btn-default" /> |
                @Html.ActionLink("Retornar", "Index")
            </div>
            }
        </div>

    </div>

</div>