@model IEnumerable<EasyCondominio.Models.Apartamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apartamentos</h2>

<p>
    @Html.ActionLink("Criar novo apartamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumApto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bloco.NumBloco)
        </th>
        <th>@Html.DisplayNameFor(model => model.Proprietario.Nome)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumApto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bloco.NumBloco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietario.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ApartamentoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ApartamentoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ApartamentoId })
        </td>
    </tr>
}

</table>
